$secondary: #ffc107;
$primary:#124f8f;

$input-focus-color: none ;
$input-focus-box-shadow: none ;
$btn-focus-box-shadow:none;
$btn-box-shadow:none;
$btn-active-box-shadow:none;       
$btn-focus-box-shadow:none;
$btn-focus-width: none;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
 
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}
a{
    text-decoration: none;
}