$primary: #e42575;
$secondary: #5b5858;

$border-width:1px;

$input-focus-color: none ;
$input-focus-box-shadow: none ;
$btn-focus-box-shadow:none;
$btn-box-shadow:none;
$btn-active-box-shadow:none;       
$btn-focus-box-shadow:none;
$btn-focus-width: none;

@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
body{
    background-color: #120d18;
}
.btn__primary:hover{
    background: $primary;
}
.btn__primary{
    cursor: pointer;
}
.side-link:hover{
    background-color: $primary;
}
.side-bar{
	overflow: scroll;
}
.nav-top{
	background: #1c1326;
}
.coming-soon{
    overflow: scroll;
}
.coming-soon::-webkit-scrollbar {
    display: none;
  }
  .coming-soon {
    -ms-overflow-style: none;  
    scrollbar-width: none;   
  }